doctype
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
        title Simultra
        link(rel="stylesheet", href="/stylesheets/maps/main.css")
        link(rel="stylesheet", href="/vendor/vizicities.css")
    body
        div(id="world")
        script(src="/vendor/three.min.js")
        script(src="/vendor/TweenMax.min.js")
        script(src="/vendor/vizicities.min.js")

        script(src="/javascripts/maps/main.js")