<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Simultra</title>
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/vendor/ripples.min.css">
    <!-- simultra -->
    <link rel="stylesheet" href="/vendor/vizicities.css">
    <link rel="stylesheet" href="/vendor/simultra.css">
    <link rel="stylesheet" href="/stylesheets/maps/main.css">
</head>
<body>
    <!-- the map -->
    <div id="world"></div>

    <!-- controller -->
    <div id="controller" class="open">
        <div id="eyecatch">
            <img src="" />
            <div id="heading" class="dark">
                <h1>Simultra</h1>
            </div>
        </div>

        <div id="content">
            <div id="control">
                <div id="state" class="pull-left">
                    <p>Simulator is <span id="state_span"></span></p>
                </div>
                <div class="pull-right">
                    <a id="followVehicles" class="btn btn-default btn-fab"><i class="material-icons">lock open</i></a>
                </div>
            </div>

            <form id="simulationSettings" class="form-horizontal">
                <fieldset>
                    <legend>Simulation Settings:</legend>
                    <div class="form-group">
                        <label for="selectMap" class="col-md-2 control-label">Map</label>

                        <div class="col-md-10">
                            <select name="map" id="selectMap" class="form-control">
                                <option>Nagoya Area</option>
                                <option>Tsurumai Area</option>
                                <option>Sakae Area</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectType" class="col-md-2 control-label">Type</label>

                        <div class="col-md-10">
                            <select name="types" id="selectType" class="form-control">
                                <option>types1.xml</option>
                                <option>types2.xml</option>
                                <option>types3.xml</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="form-group" style="margin-top: 0;">
                        <label for="inputEmail" class="col-md-2 control-label">Type</label>

                        <div class="col-md-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="selectScenario" class="col-md-2 control-label">Scenario</label>

                        <div class="col-md-10">
                            <select name="scenario" id="selectScenario" class="form-control">
                                <option name="simx_scenario">simx_scenario</option>
                                <option name="simxx_scenario">simxx_scenario</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 0; margin-right: 0;">
                        <div class="pull-right">
                            <button type="button" id="stop" class="btn btn-default" disabled>Stop</button>
                            <button type="button" id="run" class="btn btn-primary btn-raised">Run</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div id="controller-toggle" class="open">
        <button>&lt;</button>
    </div>

    <!-- monitor -->
    <div id="monitor" class="closed">
        <ul id="monitor-list" class="nav nav-tabs">
            <li class="template" style="display: none;"><a href="#tab-template" data-toggle="tab"><i class="material-icons">#</i><p>#</p></a></li>
            <li id="reset"><a href="#tab-reset" data-toggle="tab"><p>&nbsp;</p></a></li>
        </ul>
        <div id="monitor-content" class="tab-content">
            <div class="tab-pane template" style="display: none;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="eyecatch">
                                <div class="inner">
                                    <img src="/images/eyecatch_veyron.png" />
                                    <p class="name">#</p>
                                    <p class="sender">#</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="content">
                                <pre></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-reset">

            </div>
        </div>
    </div>
    <div id="monitor-toggle" class="closed">
        <a href="javascript:void(0)" class="btn btn-primary btn-fab btn-fab-mini"><i class="material-icons">keyboard_arrow_up</i></a>
    </div>

    <!-- jQuery -->
    <script src="/vendor/jquery-3.0.0.min.js"></script>
    <!-- bootstrap -->
    <script src="/vendor/bootstrap.min.js"></script>
    <script src="/vendor/ripples.min.js"></script>
    <script src="/vendor/material.min.js"></script>
    <!-- simultra -->
    <script src="/vendor/three.min.js"></script>
    <script src="/vendor/stats.min.js"></script>
    <script src="/vendor/threex.rendererstats.js"></script>
    <script src="/vendor/TweenMax.min.js"></script>
    <script src="/vendor/operative.min.js"></script>
    <script src="/vendor/vizicities.min.js"></script>
    <script src="/vendor/jquery-3.0.0.min.js"></script>
    <script src="/vendor/simultra.js"></script>
    <script type="text/javascript">
        // FIXME: something is wrong with the Simultra compilation. it's not UMD...
        window.Simultra = window.Simultra.default;

        if (typeof Simultra === 'function') {
            simultra = new Simultra(location.protocol + '//' + location.host, [35.170346, 136.900802], {
                debug: {{.debug}},
                renderer: "{{.renderer}}",
                renderBuilding: !{{.test}},
//                renderBuilding: false,
//                renderFootway: false,
            });
            {{if .dynamic}}
            simultra.start();
            {{end}}

            {{if .test}}
            <!-- beginning of test -->
            // add cars
            var veyrons = [];
            for (var i = 0; i < {{.n}}; i++) {
                veyrons.push(
                        simultra._vehicleLayer._addVehicle({
                            type: 'veyron',
                            location: {lat: 35.156324 + (0.0003*~~(i/{{.sn}})), lon: 136.923108 + 0.0003*(i%{{.sn}})},
                            velocity: 40 / 3600 * 1000,
                            angle: 0.0,
                            wheel: 30*Math.PI/180.0
                        })
                );
            }

            // sets the vehicles to move
            simultra._vehicleLayer._viziLayer.on('loadCompleted', function() {
                veyrons.forEach(function(veyron, id) {
                    simultra._vehicleLayer._viziLayer.setVelocity(id, veyron.data.velocity, 0, 0, veyron.data.wheel);
                });
            });
            <!-- end of test -->
            {{end}}
        }

        // TODO: The Controller
        (function($) {

            function setupToggle() {
                $('#controller-toggle').ready(function() {
                    var $controlToggle = $('#controller-toggle');

                    // button listener
                    $controlToggle.find('button').on('click', function() {
                        if ($controlToggle.hasClass('open')) {
                            // close the control
                            $('#controller').removeClass('open').addClass('closed');
                            $controlToggle.removeClass('open').addClass('closed');
                            $(this).text('>');
                        } else {
                            // open the control
                            $('#controller').removeClass('closed').addClass('open');
                            $controlToggle.removeClass('closed').addClass('open');
                            $(this).text('<');
                        }
                    });
                });
            }

            function setupControl() {
                $('#control').ready(function() {
                    var $control = $('#control');

                    // retrieve and update the simulation state
                    var updateControl = (function($control) {
                        console.log('!!');
                        return function() {
                            // state
                            if (simultra._options.fixCamera) {
                                $control.find('a#followVehicles').addClass('btn-primary');
                            } else {
                                $control.find('a#followVehicles').removeClass('btn-primary');
                            }
                        }
                    })($control);

                    // fixCamera button
                    $control.find('a#followVehicles').on('click', function() {
                        simultra._options.fixCamera = !simultra._options.fixCamera;
                        updateControl();
                    });

                    updateControl();
                });
            }

            /**
             * Sets up Simulation Settings Form
             */
            function setupSimulationSettings() {
                $('form#simulationSettings').ready(function() {
                    var $form = $('form#simulationSettings');
                    var $control = $('#control');

                    // retrieve and update the simulation state
                    var updateStates = (function($form) {
                        return function() {
                            // retrieve the simulator status
//                            simultra.isSimulationRunning()
//                                    .then(function (data) {
//                                        if (data.isRunning) {
//                                            $form.find('button#stop').prop('disabled', false);
//                                            $form.find('button#run').prop('disabled', true);
//
//                                            $control.find('span#state_span').text("RUNNING");
//                                        } else {
//                                            $form.find('button#stop').prop('disabled', true);
//                                            $form.find('button#run').prop('disabled', false);
//
//                                            $control.find('span#state_span').text("not running");
//                                        }
//                                    })


                            // TODO: temporal code for cheating
                            $form.find('button#stop').prop('disabled', false);
                            $form.find('button#run').prop('disabled', true);

                            $control.find('span#state_span').text("RUNNING");
                        }
                    })($form);

                    // stop button listener
                    $form.find('button#stop').on('click', function() {
                        simultra.stopSimulation().then(function() { updateStates(); });
                    });

                    // run button listener
                    $form.find('button#run').on('click', function() {
                        var data = {};
                        $form.serializeArray().forEach(function(obj) {
                            if (obj.name === 'options') {
                                if (!(obj.name in data)) {
                                    data[obj.name] = [];
                                }
                                data[obj.name].push(obj.value);
                            } else {
                                data[obj.name] = obj.value;
                            }
                        });
                        simultra.startSimulation(data['map'], data['type'], data['scenario']).then(function() { updateStates(); });
                    });

                    updateStates();
                });
            }

            /**
             * onLoad
             */
            $(document).ready(function() {
                setupToggle();
                setupControl();
                setupSimulationSettings();
            });
        })($);


        // TODO: The Monitor
        (function($) {

            function setupToggle() {
                $('#monitor-toggle').ready(function() {
                    var $monitorToggle = $('#monitor-toggle');

                    // button listener
                    $monitorToggle.find('a').on('click', function() {
                        if ($monitorToggle.hasClass('open')) {
                            // close the control
                            $('#monitor').removeClass('open').addClass('closed');
                            $monitorToggle.removeClass('open').addClass('closed');
                            $(this).removeClass('btn-default').addClass('btn-primary');
                            $(this).find('i').html('keyboard_arrow_up');
                        } else {
                            // open the control
                            $('#monitor').removeClass('closed').addClass('open');
                            $monitorToggle.removeClass('closed').addClass('open');
                            $(this).removeClass('btn-primary').addClass('btn-default');
                            $(this).find('i').html('keyboard_arrow_down');
                        }
                    });
                });
            }

            function setupResetButton() {
                $('#monitor-list').find('li#reset').on('click', function() {
                    simultra.focusOn(null);
                });
            }

            function addVehicleTab(id, entry) {
                // retrieve dom template
                var $li = $('#monitor-list').find('.template').clone().removeClass('template');
                var $content = $('#monitor-content').find('.template').clone().removeClass('template');

                // fill data
                $li.find('a').attr('href', '#vehicle' + id);
                $li.find('i').html('directions_car');
                $li.find('p').text('Vehicle' + id); // FIXME: change name
                $li.css('display', '');

                $content.attr('id', 'vehicle' + id);
                $content.find('.eyecatch').find('img').attr('src', '/images/eyecatch_veyron.png');
                $content.find('.eyecatch').find('p.name').text('Vehicle' + id); // FIXME: change name
                $content.find('.eyecatch').find('p.sender').text('');
                $content.css('display', '');

                // event listener
                $li.on('click', (function(id) {
                    return function() {
                        onClickVehicleTab(id);
                    };
                })(id));

                $('#monitor-list').append($li);
                $('#monitor-content').append($content);
            }

            function onClickVehicleTab(id) {
                simultra.focusOnVehicle(id);
            }

            function addPedestrianTab(id, entry) {
                // retrieve dom template
                var $li = $('#monitor-list').find('.template').clone().removeClass('template');
                var $content = $('#monitor-content').find('.template').clone().removeClass('template');

                // fill data
                $li.find('a').attr('href', '#pedestrian' + id);
                $li.find('i').html('directions_walk');
                $li.find('p').text('Pedestrian' + id); // FIXME: change name
                $li.css('display', '');

                $content.attr('id', 'pedestrian' + id);
                $content.find('.eyecatch').find('img').attr('src', '/images/eyecatch_veyron.png');
                $content.find('.eyecatch').find('p.name').text('Pedestrian' + id); // FIXME: change name
                $content.find('.eyecatch').find('p.sender').text('');
                $content.css('display', '');

                // event listener
                $li.on('click', (function(id) {
                    return function() {
                        onClickPedestrianTab(id);
                    };
                })(id));

                $('#monitor-list').append($li);
                $('#monitor-content').append($content);
            }

            function onClickPedestrianTab(id) {
                simultra.focusOnPedestrian(id);
            }

            /**
             * onLoad
             */
            $(document).ready(function() {
                setupToggle();
                setupResetButton();

                simultra.on('onAddVehicle', (function(){
                    return function (id, entry) {
                        addVehicleTab(id, entry);
                    };
                })());
                simultra.on('onUpdateVehicle', (function(){
                    return function (id, entry, sender) {
//                        console.log('!!!!!!!!!!! updated ' + id + " by " + sender + ": location = " + JSON.stringify(entry.data.location));
                    };
                })());

                simultra.on('onAddPedestrian', (function() {
                    return function (id, entry) {
                        addPedestrianTab(id, entry);
                    };
                })());
                simultra.on('onUpdatePedestrian', (function() {
                    return function (id, entry, sender) {
//                        console.log('!!!!!!!!!!! updated ' + id + " by " + sender + ": location = " + JSON.stringify(entry.data.location));
                    };
                })());
            });
        })($);
    </script>
</body>
</html>